@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aseguramos que el root de React ocupe toda la pantalla y no tenga márgenes */
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}